In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('datasets/moviereviews.tsv',sep='\t')

In [3]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [4]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [7]:
blanks=[]
for i,l,r in df.itertuples():
    if(r.isspace()):
        blanks.append(i)

In [8]:
len(blanks)

27

In [9]:
df.drop(blanks,inplace=True)

In [14]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [15]:
sia=SentimentIntensityAnalyzer()

In [16]:
df['scores']=df['review'].apply(lambda review:sia.polarity_scores(review)['compound'])

In [17]:
df.head()

  label                                             review  scores
0   neg  how do films like mouse hunt get into theatres... -0.9125
1   neg  some talented actresses are blessed with a dem... -0.8618
2   pos  this has been an extraordinary year for austra...  0.9951
3   pos  according to hollywood movies made in last few...  0.9972
4   neg  my first press screening of 1998 and already i... -0.2484

In [18]:
df['score_name']=df['scores'].apply(lambda score: 'pos' if score>=0 else 'neg')

In [19]:
df.head()

  label                                             review  scores score_name
0   neg  how do films like mouse hunt get into theatres... -0.9125        neg
1   neg  some talented actresses are blessed with a dem... -0.8618        neg
2   pos  this has been an extraordinary year for austra...  0.9951        pos
3   pos  according to hollywood movies made in last few...  0.9972        pos
4   neg  my first press screening of 1998 and already i... -0.2484        neg

In [20]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [21]:
print(confusion_matrix(df['label'],df['score_name']))

[[427 542]
 [164 805]]

In [22]:
print(classification_report(df['label'],df['score_name']))

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

    accuracy                           0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938

In [23]:
print(accuracy_score(df['label'],df['score_name']))

0.6357069143446853