In [1]:
import nltk

In [2]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to C:\Users\DELL
[nltk_data]     7810\AppData\Roaming\nltk_data...

True

In [3]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [4]:
sid=SentimentIntensityAnalyzer()

In [5]:
s="This is excellent news baby"

In [7]:
sid.polarity_scores(s)

{'neg': 0.0, 'neu': 0.519, 'pos': 0.481, 'compound': 0.5719}

In [8]:
s="We Mourn our heros"

In [9]:
sid.polarity_scores(s)

{'neg': 0.394, 'neu': 0.282, 'pos': 0.324, 'compound': -0.128}

In [10]:
s="I got it WOW"

In [11]:
sid.polarity_scores(s)

{'neg': 0.0, 'neu': 0.306, 'pos': 0.694, 'compound': 0.6739}

In [12]:
import pandas as pd

In [15]:
df=pd.read_csv('datasets/amazonreviews.tsv',sep='\t')

# hello

In [16]:
df.head()

  label                                             review
0   pos  Stuning even for the non-gamer: This sound tra...
1   pos  The best soundtrack ever to anything.: I'm rea...
2   pos  Amazing!: This soundtrack is my favorite music...
3   pos  Excellent Soundtrack: I truly like this soundt...
4   pos  Remember, Pull Your Jaw Off The Floor After He...

In [17]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [19]:
blanks=[]
for i,l,r in df.itertuples():
    if(r.isspace()):
        blanks.append(1)

In [27]:
df.drop(blanks,inplace=True)

In [28]:
df['label'].value_counts()

neg    5097
pos    4903
Name: label, dtype: int64

In [29]:
df.dropna(inplace=True)

In [30]:
df['label'].value_counts()

neg    5097
pos    4903
Name: label, dtype: int64

In [35]:
sid.polarity_scores(df['review'][0])

{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'compound': 0.9454}

In [39]:
df['scores']=df['review'].apply(lambda review: sid.polarity_scores(review)['compound'])

In [40]:
df.head()

  label                                             review  scores
0   pos  Stuning even for the non-gamer: This sound tra...  0.9454
1   pos  The best soundtrack ever to anything.: I'm rea...  0.8957
2   pos  Amazing!: This soundtrack is my favorite music...  0.9858
3   pos  Excellent Soundtrack: I truly like this soundt...  0.9814
4   pos  Remember, Pull Your Jaw Off The Floor After He...  0.9781

In [41]:
df['score_name']=df['scores'].apply(lambda score: 'pos' if score>=0 else 'neg')

In [42]:
df.head()

  label                                             review  scores score_name
0   pos  Stuning even for the non-gamer: This sound tra...  0.9454        pos
1   pos  The best soundtrack ever to anything.: I'm rea...  0.8957        pos
2   pos  Amazing!: This soundtrack is my favorite music...  0.9858        pos
3   pos  Excellent Soundtrack: I truly like this soundt...  0.9814        pos
4   pos  Remember, Pull Your Jaw Off The Floor After He...  0.9781        pos

In [43]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [44]:
print(confusion_matrix(df['label'],df['score_name']))

[[2622 2475]
 [ 434 4469]]

In [45]:
print(classification_report(df['label'],df['score_name']))

              precision    recall  f1-score   support

         neg       0.86      0.51      0.64      5097
         pos       0.64      0.91      0.75      4903

    accuracy                           0.71     10000
   macro avg       0.75      0.71      0.70     10000
weighted avg       0.75      0.71      0.70     10000

In [46]:
print(accuracy_score(df['label'],df['score_name']))

0.7091